.container {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main';
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100%;
}

.header {
  grid-area: header;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 4px;
  width: 240px;
  grid-row: 2 / 3;
}

.main {
  grid-area: main;
  padding: 1rem;
}
